{% extends "base.html.twig" %}

{% block body %}

<div class="card border bg-dark mt-5 mb-3  m-2"  style="width: 30rem;">
		{{ form_start(form) }}

		

        {{ form_row(form.prenom) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.telephone) }}
		{{ form_row(form.email) }}
        {{ form_row(form.comment)}}
		

		<button  type="submit" class="btn btn-primary" >Envoyer</button> 
        {{ form_end(form) }}
	</div>	


{% endblock %}