{% extends "base.html.twig" %}

{% block body %}

<br>
<div class=" text-center mx-auto m-4  " style="width: 300px;">
<h1 class="text-dark"> Donnez un Avis </h1>
</div>
<section class="container d-flex">
<div class=" mt-5 mb-3  m-4">
    <img src="{{asset('image/accueil.jpg')}}" width="500" height="500" alt="">
</div>

<div class=" card border text-center bg-dark mt-5 mb-3  m-2"  style="width: 750px" >
		{{ form_start(form) }}
       

        {{ form_row(form.prenom ,  { 
            label:"Prénom",
            attr: {
                placeholder: "Prénom"}}) }}
		{{ form_row(form.nom ,  { 
            label:"Nom",
            attr: {
                placeholder: "Nom"}}) }}
		{{ form_row(form.telephone,  { 
            label:"Télephone",
            attr: {
                placeholder: "Télephone"}}) }}
		{{ form_row(form.email,  { 
            label:"Email",
            attr: {
                placeholder: "Email"}}) }}

        {{ form_row(form.comment, { 
            label:"Témoignage",
            attr: {
                placeholder: "Donner un avis"

            }
        }
        
        )}}
		

		<button  type="submit" class="btn btn-primary" >Envoyer</button> 
        {{ form_end(form) }}
	</div>
    </section ><br>
    



<div class="container text-white mx-auto  m-2">
<H2 class="text-center text-dark">Témoignages</H2><br>

{% for item in avis %}
<div class="bg-dark row justify-content-md-center ">
<div class=" w-50 m-1  ">
 <p>C'est la témoignage de: {{ item.nom }} {{ item.prenom }}</p>
</div>
<div>
<p class="text-center"> Avis : {{item.comment}}</p>
</div>
</div>
 <hr>
    
{% endfor %}
</div>
<br>






{% endblock %}